body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text{
  color: #606080;
  font-weight: 5000;
  font-size: 17px;
  margin-top: 17px;
}

.top-left{
  position: absolute;
  top: 8px;
  left: 17px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.tag-card {
  margin: 10px 0 0 20px;
  color: #606080;
}

.tourName {
  color: #606080;
  font-size: 16px;
  margin: 0 0 0 4px;
  font-weight: 500;
}

.tagErr{
  color: #f93154;
  margin-top: 5px;
  text-align: left;
  font-size: 14px ;
}
.spinner {
  position: absolute;
  left: 50%;  
}
h4 {
  overflow: hidden;
  text-align: center;
}

h4:before,
h4:after{
  background-color: #000;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  width: 50%;
  /* vertical-align: middle; */
}
h4:before {
  right: 0.5em;
  margin-left: -50%;
}
h4:after {
  right: 0.5em;
  margin-left: -50%;
}